<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title><%= yield(:page_title) %></title>

  <!-- guides styles -->
  <link rel="stylesheet" type="text/css" href="stylesheets/green.css" />
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- syntax highlighting styles -->
  <link rel="stylesheet" type="text/css" href="stylesheets/syntaxhighlighter/shCore.css" />
  <link rel="stylesheet" type="text/css" href="stylesheets/syntaxhighlighter/shThemeRailsGuides.css" />
</head>
<body class="guide">
<div id="header">
  <%# if page_header = yield(:page_header).presence %>
    <%#= page_header %>
  <%# else %>
    <a href="/"><%= Guides.meta["title"] %></a>
    <!-- <p><%#= Guides.meta["description"] %></p> -->
  <%# end %>
</div>
<div id="logo"></div>


<div id="wrapper">
<!-- Needed for dropshadows -->
<div style='background:url(../images/shadow_left.gif) top left repeat-y;'>
<div style='background:url(../images/shadow_right.gif) top right repeat-y;'>

  <div id="container">
    <div class="greenbar"></div>

    <div id="content">
      <div id="breadcrums">
        <ul>
          <li><a href="http://dradisframework.org/">home</a></li><li>dradis framework guides</li>
        </ul>
      </div>
      <% if header_section = yield(:header_section).presence %>
        <div class="headerSection">
          <%= header_section %>
        </div>
      <% end %>

      <%= yield %>
    </div>
  </div>
  <div id="sidebar">
    <% if index_items = yield(:index_items).presence %>
      <p><a href="/">Guides index</a></p>
      <h3 class="chapter"><img src="images/strobe/chapters.png" alt="" />Chapters</h3>
      <ol class="chapters">
        <%= index_items %>
      </ol>
    <% else %>
    <div id="subCol">
      <%= yield(:sidebar) %>
    </div>
    <% end %>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>

  <div class="clearing">&nbsp;</div>
  <div style='background:url(../images/shadow_bottom.gif) top left repeat-x;height: 7px; margin: 1ex 3px 0 4px;'></div>

<!-- Needed for dropshadows -->
</div>
</div>

</div>

<div id="footer">
  Sponsored by <a href="http://securityroots.com">Security Roots</a>
</div>

<script src="http://code.jquery.com/jquery-1.6.min.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript" src="javascripts/guides.js"></script>
<script type="text/javascript" src="javascripts/syntaxhighlighter/shCore.js"></script>
<script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushRuby.js"></script>
<script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushJScript.js"></script>
<script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushCss.js"></script>
<script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushXml.js"></script>
<script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushSql.js"></script>
<script type="text/javascript" src="javascripts/syntaxhighlighter/shBrushPlain.js"></script>
<script type="text/javascript">
  SyntaxHighlighter.all()
</script>

</body>
</html>
